.site-layout-background {
  background: #F5F5F5 !important;
}

.sidebar {
  width: 400px !important;
}

.menu {
  margin-top: 70px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #EBEBEB;
  height: 73px;
  padding: 20px;
}

.ant-menu-item {
  height: 73px !important;
  padding-left: 70px !important;
}
.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  min-width: 14px;
  margin-right: 10px;
  font-size: 20px;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
