.signup-container {
  background: url("../../../assets//background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}



@media only screen and (max-width: 490px) {
  .signup-container {
    background: url("../../../assets//background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 60vh;
    width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    overflow-x: hidden !important;
    
  }

  .l-hey {
    margin-top: 20px!important;
  }

  .login-container {
    background: #fff;
    left: 7px;
    width: 320px;
    padding: 20px;
    border-radius: 6px;
    margin-top: 10%;
    margin-left: 20px;
    margin-bottom: 10%;
    box-shadow: 20px 20px 50px #00000029 !important;
    opacity: 1;
  }

  input, select {
    height: 45px !important;
    border-radius: 6px !important;
  }
  h4 { 
    margin-top: -30px !important;
    font-size: 18px;
    text-align: left;
  }

  .reg-button {
    background: #0B70A5;
    opacity: 1;
    color: #fff;
    width: 100%;
    height: 45px !important;
    border-radius: 6px !important;
  }

  .second-input {
    margin-top: 15px !important;
  }
  .button-container {
    margin-top: 20px !important;
  }
}

h4 { 
  margin-top: 70px
}
