.salary-card-container {
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 25px;
  opacity: 1;
  padding: 30px;
}

.salary-card-container h4 {
  margin-top: 0px !important;
}

.salary-card-container .brief-desc {
  line-height: 0px;
  margin-bottom: 15px !important;
}

#info-outlined {
  width: 10px !important;
  height: 10px !important;
  background: var(--unnamed-color-0b70a5) 0% 0% no-repeat padding-box;
  background: #0B70A5 0% 0% no-repeat padding-box !important;
  color: #FFFFFF;
  padding: 3px;
  font-size: 9px;
  border-radius: 5px;
  opacity: 1;
}

.prev-button {
  color: #E87C23 !important;
  cursor: pointer;
}

#next-button {
  background: var(--unnamed-color-0b70a5) 0% 0% no-repeat padding-box;
  background: #0B70A5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  height: 60px !important;
  width: 100%;
  color: #FFFFFF;
}

.change-button {
  width: 82px;
  height: 30px;
  border: none;
  background: #0B70A517 0% 0% no-repeat padding-box;
  border-radius: 9px;
  font: var(--unnamed-font-style-normal) normal 600 12px/var(--unnamed-line-spacing-16) var(--unnamed-font-family-gilroy-☞);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0b70a5);
  text-align: left;
  font: normal normal 600 12px/16px Gilroy ☞;
  letter-spacing: 0px;
  color: #0B70A5;
  opacity: 1;
}

#account-card {
  width: 100% !important;
  height: 158px !important;
  background: #052D43 0% 0% no-repeat padding-box !important;
  border-radius: 6px !important;
  opacity: 1 !important;
}

.savings {
  font: var(--unnamed-font-style-normal) normal bold 10px/14px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 10px/14px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF20;
  line-height: 2px;
  opacity: 1;
}

.account-type, .bank-name, .account-number {
  line-height: 2px;
}

.bank-name {
  width: 144px;
  /* height: 19px; */
  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-14)/19px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-e87c23);
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #E87C23;
  line-height: 2px;
  opacity: 1;
}

.account-type {
  /* height: 14px; */
  font: var(--unnamed-font-style-normal) normal bold 10px/14px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 10px/14px Manrope;
  letter-spacing: 0px;
  line-height: 2px;
  color: #FFFFFF20;
  opacity: 1;
}

.account-number {
  /* height: 30px; */
  font: var(--unnamed-font-style-normal) normal bold 22px/30px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 22px/30px Manrope;
  letter-spacing: 0px;
  line-height: 2px;
  color: #FFFFFF;
  opacity: 1;
}

.partial-description {
  font: var(--unnamed-font-style-normal) normal 600 12px/15px var(--unnamed-font-family-gilroy-☞);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 12px/15px Gilroy ☞;
  letter-spacing: 0px;
  color: #00000096;
  opacity: 1;
}

.attestation {
  margin-left: -50px !important;
  line-height: 2px;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 12px/15px Gilroy ☞;
  letter-spacing: 0px;
}

@media only screen and (max-width: 490px) {
  .change-button {
    width: 82px;
    height: 30px;
    border: none;
    margin-top: -60px !important;
    background: #0B70A517 0% 0% no-repeat padding-box;
    border-radius: 9px;
    font: var(--unnamed-font-style-normal) normal 600 12px/var(--unnamed-line-spacing-16) var(--unnamed-font-family-gilroy-☞);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0b70a5);
    text-align: left;
    font: normal normal 600 12px/16px Gilroy ☞;
    letter-spacing: 0px;
    color: #0B70A5;
    opacity: 1;
  }

  #next-button {
    background: var(--unnamed-color-0b70a5) 0% 0% no-repeat padding-box;
    background: #0B70A5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    height: 40px !important;
    width: 100%;
    color: #FFFFFF;
  }
}